[submodule "src/filereader"]
	path = src/filereader
	url = https://github.com/informationsea/filereader.git
[submodule "src/qtxlsx"]
	path = src/qtxlsx
	url = https://github.com/dbzhang800/QtXlsxWriter.git
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/QtSimplePlot"]
	path = src/QtSimplePlot
	url = https://github.com/informationsea/QtSimplePlot.git
