# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

.DS_Store
*.swp
*~
script-for-mac/*.o
script-for-mac/*.app
script-for-mac/*.cpp
script-for-mac/*.h
script-for-mac/Makefile
script-for-mac/*.zip
extensions.sqlext
