# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.obj

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
Makefile.Debug
Makefile.Release
*-build-*
build-*
*.exe
ui_*.h
windowsicon.res
*.manifest
.qmake.cache
*.autosave

.DS_Store
*.swp
*~
extensions.sqlext
