<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Product Name='Hyokai 0.4.3' Id='a1a0ce21-43ec-4578-81bf-ef99587b08df' UpgradeCode='17e68d53-8b89-47a3-9556-c6c44fbed19d'
    Language='1033' Codepage='1252' Version='1.0.1' Manufacturer='Yasunobu OKAMURA'>

    <Package Id='*' Keywords='Installer' Description="Hyokai Installer"
      Comments='Install Hyokai' Manufacturer='Yasunobu OKAMURA'
      InstallerVersion='405' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Icon Id="Hyokai.exe" SourceFile="..\Hyokai\Hyokai32\Hyokai.exe" />
    <Property Id="ARPPRODUCTICON" Value="Hyokai.exe" />

    <Media Id='1' Cabinet='Hyokai.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
    <Property Id='DiskPrompt' Value="Hyokai 0.4.3 Installation [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='OKAMURA' Name='Y-OKAMURA'>
          <Directory Id='INSTALLDIR' Name='Hyokai-0.4.3'>
            <Component Id='QtComponents' Guid='af2d869f-02ad-47c1-8f12-18ef067ff015'>
              <File Id="QtCore" Name="Qt5Core.dll" DiskId="1" Source="..\Hyokai\Hyokai32\Qt5Core.dll" KeyPath="yes" />
              <File Id="QtGui" Name="Qt5Gui.dll" DiskId="1" Source="..\Hyokai\Hyokai32\Qt5Gui.dll" KeyPath="no" />
              <File Id="QtSql" Name="Qt5Sql.dll" DiskId="1" Source="..\Hyokai\Hyokai32\Qt5Sql.dll" KeyPath="no" />
              <File Id="QtSvg" Name="Qt5Svg.dll" DiskId="1" Source="..\Hyokai\Hyokai32\Qt5Svg.dll" KeyPath="no" />
              <File Id="QtWidgets" Name="Qt5Widgets.dll" DiskId="1" Source="..\Hyokai\Hyokai32\Qt5Widgets.dll" KeyPath="no" />
              <File Id="opengl32sw" Name="opengl32sw.dll" DiskId="1" Source="..\Hyokai\Hyokai32\opengl32sw.dll" KeyPath="no" />
              <File Id="libGLESV2" Name="libGLESV2.dll" DiskId="1" Source="..\Hyokai\Hyokai32\libGLESV2.dll" KeyPath="no" />
              <File Id="libEGL" Name="libEGL.dll" DiskId="1" Source="..\Hyokai\Hyokai32\libEGL.dll" KeyPath="no" />
              <File Id="d3dcompiler_47" Name="d3dcompiler_47.dll" DiskId="1" Source="..\Hyokai\Hyokai32\d3dcompiler_47.dll" KeyPath="no" />
            </Component>

            <Directory Id="QtPlugins" Name="plugins">
              <Directory Id="QtImageFormats" Name="imageformats">
                <Component Id="imageformat_dll" Guid="9614e88e-1ba4-4cbd-a8cb-431cdaf1077a">
                  <File Id="qico" Name="qico.dll" DiskId="1" Source="..\Hyokai\Hyokai32\plugins\imageformats/qico.dll" KeyPath="yes" />
                  <File Id="qgif" Name="qgif.dll" DiskId="1" Source="..\Hyokai\Hyokai32\plugins\imageformats/qgif.dll" KeyPath="no" />
                  <File Id="qjpeg" Name="qjpeg.dll" DiskId="1" Source="..\Hyokai\Hyokai32\plugins\imageformats/qjpeg.dll" KeyPath="no" />
                  <File Id="qsvg" Name="qsvg.dll" DiskId="1" Source="..\Hyokai\Hyokai32\plugins\imageformats/qsvg.dll" KeyPath="no" />
                  <File Id="qwebp" Name="qwebp.dll" DiskId="1" Source="..\Hyokai\Hyokai32\plugins\imageformats/qwebp.dll" KeyPath="no" />
                </Component>

              </Directory>

              <Directory Id="SQL_DRIVERS" Name="sqldrivers">
                <Component Id="drivers" Guid="04c4ea17-9dc1-45ed-96d1-032d6f44ffa9">
                  <File Id="sqlite" Name="qsqlite.dll" DiskId="1" Source="..\Hyokai\Hyokai32\plugins\sqldrivers\qsqlite.dll" KeyPath="yes" />
                  <File Id="mysql" Name="qsqlmysql.dll" DiskId="1" Source="..\Hyokai\Hyokai32\plugins\sqldrivers\qsqlmysql.dll" KeyPath="no" />
                  <File Id="psql" Name="qsqlpsql.dll" DiskId="1" Source="..\Hyokai\Hyokai32\plugins\sqldrivers\qsqlpsql.dll" KeyPath="no" />
                </Component>
              </Directory>
            </Directory>

            <Directory Id="QtPlatforms" Name="platforms">
              <Component Id="platforms" Guid="a6fce008-6b82-40c8-95f2-300bf398863d">
                <File Id="windows" Name="qwindows.dll" DiskId="1" Source="..\Hyokai\Hyokai32\platforms\qwindows.dll" KeyPath="yes" />
              </Component>
            </Directory>

            <Component Id='MainExecutable' Guid='00d5d44a-e61e-4a63-b567-8486d8043251'>
              <File Id='HyokaiEXE' Name='Hyokai.exe' DiskId='1' Source='..\Hyokai\Hyokai32\Hyokai.exe' KeyPath='yes'>
                <Shortcut Id="startmenuHyokai03" Directory="ProgramMenuDir" Name="Hyokai (32 bit)"
                          WorkingDirectory='INSTALLDIR' Icon="Hyokai.exe" IconIndex="0" Advertise="yes" />
                <Shortcut Id="desktopHyokai03" Directory="DesktopFolder" Name="Hyokai"
                          WorkingDirectory='INSTALLDIR' Icon="Hyokai.exe" IconIndex="0" Advertise="yes" />
              </File>
              
              <ProgId Id='Hyokai.SQLiteFile' Description='SQLite3 Database' Icon="HyokaiEXE" IconIndex="1" Advertise="no">
                <Extension Id='sqlite3' ContentType='application/sqlite3'>
                  <Verb Id='open' Command='Open' TargetFile='HyokaiEXE' Argument='"%1"' />
                </Extension>
                <Extension Id='sqlite' ContentType='application/sqlite3'>
                  <Verb Id='open2' Command='Open' TargetFile='HyokaiEXE' Argument='"%1"' />
                </Extension>
              </ProgId>
              <ProgId Id='Hyokai.CSV' Description='Comma Separated Values' Icon="HyokaiEXE" IconIndex="2" Advertise="no">
                <Extension Id='csv' ContentType='text/csv'>
                  <Verb Id='open3' Command='Open' TargetFile='HyokaiEXE' Argument='"%1"' />
                </Extension>
              </ProgId>
              <ProgId Id='Hyokai.TSV' Description='Tab Separated Values' Icon="HyokaiEXE" IconIndex="2" Advertise="no">
                <Extension Id='tsv' ContentType='text/csv'>
                  <Verb Id='open4' Command='Open' TargetFile='HyokaiEXE' Argument='"%1"' />
                </Extension>
                <Extension Id='bed' ContentType='text/csv'>
                  <Verb Id='open5' Command='Open' TargetFile='HyokaiEXE' Argument='"%1"' />
                </Extension>
                <Extension Id='gft' ContentType='text/csv'>
                  <Verb Id='open6' Command='Open' TargetFile='HyokaiEXE' Argument='"%1"' />
                </Extension>
              </ProgId>
            </Component>
            <Component Id='Manual' Guid='38946a94-aca2-40b4-8852-a0899afda84a'>
              <File Id='Manual' Name='README.txt' DiskId='1' Source='..\dist-README.txt' KeyPath='yes'>
                <Shortcut Id='startmenuManual' Directory='ProgramMenuDir' Name='README' Advertise='yes' />
              </File>
            </Component>

            <Directory Id='SAMPLE' Name='sample'>
              <Component Id='SampleDb' Guid='062c2ac2-52e3-4af2-8be6-b8c2e052022e'>
                <File Id='SampleDb' Name='iris.data.sqlite3' DiskId='1' Source='..\..\..\sampledata\iris.data.sqlite3' KeyPath='yes'>
                  <Shortcut Id='startmenuSampleDb' Directory='ProgramMenuDir' Name='iris.data' Advertise='yes' Icon="Hyokai.exe" IconIndex="1" />
                </File>
              </Component>
              <Component Id='SampleCsv' Guid='1caa88d8-33a6-47be-a48e-baf964e4f0df'>
                <File Id='SampleCsv' Name='iris.data.csv' DiskId='1' Source='..\..\..\sampledata\iris.data.csv' KeyPath='yes'>
                </File>
              </Component>
            </Directory>

            <Merge Id="vsr_x86" DiskId="1" Language='1033' SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_CRT_x86.msm" />

          </Directory>
        </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Hyokai 0.4.3">
          <Component Id="ProgramMenuDir" Guid="c402129c-a42e-4c6b-be25-a8e4cebef524">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />

            <Shortcut Id="UninstallProduct"
                        Name="Uninstall Hyokai"
                        Target="[SystemFolder]msiexec.exe"
                        Arguments="/x [ProductCode]"
                        Description="Uninstalls Hyokai" />

          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    
    <Feature Id='Complete' Title="Hyokai" Description="The complete package" Level='1'>
      <ComponentRef Id='QtComponents' />
      <ComponentRef Id='drivers' />
      <ComponentRef Id='platforms' />
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='Manual' />
      <ComponentRef Id='SampleDb' />
      <ComponentRef Id='SampleCsv' />
      <ComponentRef Id='ProgramMenuDir' />
      <ComponentRef Id='imageformat_dll' />
      <MergeRef Id='vsr_x86' />
    </Feature>

    <UI>
      <UIRef Id="WixUI_Minimal" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Publish Dialog="ExitDialog"
               Control="Finish" 
               Event="DoAction" 
               Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <WixVariable Id="WixUILicenseRtf" Value=".\License.rtf" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Hyokai" />

    <Property Id="WixShellExecTarget" Value="[#HyokaiEXE]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <Condition Message="This application is only supported on Windows Vista, Windows Server 2008, or higher.">
      <![CDATA[Installed OR (VersionNT >= 600)]]>
    </Condition>
  </Product>
</Wix>
